---
import logo from "~/assets/images/logo.svg";
import "~/styles/global.css";
---
<div>
<h1 class="text-3xl font-bold underline">
	Hello world!
</h1>
<img id="background" src={logo.src} alt="" fetchpriority="high" />
</div>