---
import Counter from "~/components/Counter";
import Layout from "~/layouts/Layout.astro";
import "~/styles/global.css";

const APP_TITLE = import.meta.env.APP_TITLE || "Don";
---

<Layout title={APP_TITLE}>
	<h1 class="text-3xl font-bold underline">Hello world!</h1>
	<Counter client:load />
</Layout>
